<h1>Stupid Coaching</h1>

<h2>Make a question to your coach:</h2>
<form action="/answer">
  <input type="text" name="question" class="form">
  <input type="submit" value="Ask!" class="button">
</form>
