// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  text-align: center;
  font-family: 'Helvetica';
  background-color: #EBEBEB;
  color: #273C2C;
  padding-top: 50px;
}
 .button {
  background-color: #C6878F;
  border-radius: 5px;
 }
.form {
  background-color: #EBEBEB;
  border: dotted 2px;
}
